@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));


@plugin 'daisyui/theme' {
  name: "light";
  default: true;
  --color-primary: #c00108;
}

@theme {
  --font-urbanist: "Urbanist", sans-serif;
  --font-inter: "Inter", sans-serif;
  --color-gray-bg: #EAEAEA;
  --color-lightred-bg: #f6e8e8;
  --color-red-bold: #811719;
  --color-red: #c00108;
}

.form-label {
  @apply block text-sm font-medium text-gray-700 mb-2;
}

.input-primary {
  @apply w-full px-4 py-3 rounded-lg border border-gray-300
  focus:ring-2 focus:ring-red-600 focus:border-transparent transition;
}

.input-disabled {
  @apply w-full px-4 py-3 rounded-lg border border-gray-300
  bg-gray-100 cursor-not-allowed;
}