@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));


@plugin 'daisyui/theme' {
  name: "light";
  default: true;
  --color-primary: #c00108;
}

@theme {
  --font-urbanist: "Urbanist", sans-serif;
  --font-inter: "Inter", sans-serif;
  --color-gray-bg: #EAEAEA;
  --color-lightred-bg: #f6e8e8;
  --color-red-bold: #811719;
  --color-red: #c00108;
}
